
/*//////////////////////////////////
//////////   MOBILE QUIRKS   ///////
//////////////////////////////////*/

/* turn off the annoying highlight on a tap*/
input {
  -webkit-tap-highlight-color: transparent;
}
/* prevent the user from highlighting any text */
* {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}
/* allow highlighting text in inputs */
input {
  -webkit-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
}



/* Landscape */
@media screen and (orientation:landscape) {
      #menu {
       top: 18%;
       padding: 4% 5.2%;
    }

    #profile{
       top: 40%;
       padding: 4% 3.5%;
    }

    #friends {
       top:62%;
       padding: 4% 3%;
    }

    #learn {
       left: -100%;
    }
    
    #titlebar {
    height: 15%;
   }
   
   #chatBox {
    height: 70%;
    width: 70%;
    position: absolute; 
    left: 30%;
    bottom: 5%;
   }
   
   #chatInput {
    height: 5%;
   }
   
}



/*//////////////////////////////////
//////////   STANDARD TAGS /////////
//////////////////////////////////*/

body {
	font-size: 25px;
	font-family: 'Iceland';
	background-color: rgb(35,35,35);
	color: white;
	text-align: center;
}

h1 {
	font-size: 45px;
	margin: 30px;
	text-shadow: 0 1px 40px rgba(255,255,255,0.5);
    font-weight: bold;
}

h2 {
	font-size: 60px;
}

h3 {
	font-size: 35px;
	font-weight: bold;
}

@media screen and (orientation:landscape) {
    h3 {
        font-size: 15px;
    }
}

p {
    font-size: 10px;
    padding: 2px;
}

input {
	font-family: 'Iceland';
	font-size: 10px;
	color: black;
	background-color: #FFFFFF;
	border-radius: 5px;
	border: none;
    width: 70%;
    margin: 10px;
    padding: 10px;
}

input:focus {
	border: 2px solid green;
	outline: none;
	margin: 8px;
}





/*//////////////////////////////////
//////////   BUTTONS   /////////////
//////////////////////////////////*/

button {    
	background: #2B2B2B;
	background: -moz-linear-gradient(0% 100% 90deg, #4D4D4D, #1A1A1A);
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#1F1F1F), to(#4D4D4D));
	border-top: 2px solid #171717;
	border-right: 2px solid #0D0D0D;
	border-bottom: 2px solid #080808;
	border-left: 2px solid #0D0D0D;
    border-radius: 10px 10px 10px 10px;
    box-shadow: inset 0 1px 0 0 #616161, 0 1px 2px 0 #b3b3b3;
	color: white;
	padding: 5%;
    margin: 10px;
    font-size: 25px;

}

button:focus {
	border: 2px solid green;
	outline: none;
	margin: 10px;
}


button:active {
	background: #1C1C1C;
    background: -moz-linear-gradient(0% 100% 90deg, #1C1C1C, #1A1A1A);
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#1A1A1A), to(#1C1C1C));
	border: 2px solid #080808;
	border-bottom: 1px solid #000000;
	text-shadow: 0 -1px 1px #023D04;
    box-shadow: none;
}

/* Portrait */
@media only screen and (orientation:portrait) {
   #menu {
   top: 12%;
   padding: 5% 6.5%;
    }

    #profile{
       top: 25%;
       padding: 5% 4%;
    }

    #friends {
       top: 38%;
       padding: 5% 3%;
    }

    #learn {
       top: 51%;
       padding: 5% 5.3%;
    }
}







#joinGame {
    padding: 6% 12% 6% 12%;
     font-size: 20px;
}

#createGame {
    padding: 6% 6% 6% 6%;
     font-size: 20px;
}

#findMatch {
    padding: 8% 8% 8% 8%;
    font-size: 25px;
}

#sendChat {
    position: absolute; 
    right: -4%;
    bottom: 1%;   
    height: 16%;
    padding: 0px;
    font-size: 15px;
}

.slideButton {
   left:-1%;
   margin: 0px;
   border-radius: 0px 60px 60px 0px;
   z-index: 2;
   position: absolute;

   -webkit-transition: left  1s ease;  
   -moz-transition: left  1s ease;  
   -o-transition: left  1s ease;  
   -ms-transition: left 1s ease; 
   transition: left 1s ease;
}

.slideButton:focus {
   margin: 0px;
   border-left: none;
}


.clicked{
    left:69%
}

/*//////////////////////////////////
//////////   BOXES   /////////////
//////////////////////////////////*/

.box {
	border: 3px solid rgba(64,64,64,.5);
	border-radius: 10px 10px 10px 10px;
	background-color: rgb(30,30,30);
	box-shadow: 0 1px 50px rgba(255,255,255,0.5);
	margin: auto auto;
    width: 90%;
    height: 50%;
    margin-top: 17%;
}


.fieldBox{
	padding: 10px 10px;
	border: 3px solid rgba(44,44,44,.5);
	border-radius: 10px 10px 10px 10px;
	background-color: rgb(35,35,35);
	margin: 5px auto;	
    height: 15%;
    width: 70%;
    display: block;
}

.slideBox{
    position:fixed;
    left:-73%;
    top: 9%;
	border: 5px solid rgba(44,44,44,.5);
    border-radius: 13px 13px 13px 13px;
	background-color: rgb(35,35,35);
	margin: 5px auto;	
    height: 85%;
    width: 70%;
    display: inline-block;
    z-index: 2;
    
   transition: left  1s ease;
   -webkit-transition: left  1s ease;  
   -moz-transition: left  1s ease;  
   -o-transition: left  1s ease;  
   -ms-transition: left 1s ease; 
   
}

.slide{
    left:-1%;
}

#titlebar {
    background-color: rgb(25,25,25);
    margin: 0px;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 10%;
    z-index: 2;
}


#chatBox{
    height: 70%;
    width: 58%;
    position: absolute; 
    left: 35%;
    bottom: 5%;
}

#chatArea {
    height: 50%;
    width: 65%;
    position: absolute; 
    top:18%;
    left: 4%;
    background-color: rgb(0,0,0);
    overflow-y: hidden;
    overflow-x: hidden;
    text-align: left;
    font-size: 15px;
}

#chatInput {
    position: absolute; 
    left:0%;
    bottom: 1%;
    width: 80%;
}

#playerList {
    height: 48%;
    width: 25%;
    position: absolute;
    right: 1%;
    top: 18%;
    border: 3px solid rgba(64,64,64,.5);
	border-radius: 10px 10px 10px 10px;
	background-color: rgb(30,30,30);
    overflow-y: hidden;
    overflow-x: hidden;
    font-size: 10px;
}

#friendsList {
    text-align: left;
    margin-left: 5%;
    overflow-y: scroll;
    overflow-x: hidden;
}

#friendRequestsList {
    text-align: left;
    margin-left: 5%;
    overflow-y: scroll;
    overflow-x: hidden;
    
}

#friendListing {
    border: 3px solid rgba(64,64,64,.5);
	border-radius: 10px 10px 10px 10px;
	background-color: rgb(30,30,30);
    width: 95%;
    height: 5%;
    padding: 10px;
    margin: 5px 0px -20px 0px;
    position: relative;
    line-height: 10em;
}


.topBar {
    background-color: rgb(25,25,25);
    margin: 0px;
    padding-top:5px;
    padding-bottom:5px;
    width: 100%;
    height: 10%;
    border-radius: 10px 10px 0px 0px;  
}

/*//////////////////////////////////
//////////  ATTRIBUTES   ///////////
//////////////////////////////////*/

.red {
    color: red;
}

.chatName {
    color: gray;
    display: inline;
}

.smallButton {
    font-size: 15px;
    padding: 4px;
    margin: 6px;
}





