
/*//////////////////////////////////
//////////   MOBILE QUIRKS   ///////
//////////////////////////////////*/

/* prevent the user from highlighting any text */
* {
    outline: none;
   -webkit-tap-highlight-color: rgba(255, 255, 255, 0); 
   -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* allow highlighting text in inputs */
input {
  outline: none;
  -webkit-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
}

#stopHighlight {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 0;
}



/* Landscape */
@media screen and (orientation:landscape) {
     #menu {
       top: 18%;
       padding: 4% 4.6%;
    }

    #friends{
       top: 40%;
       padding: 4% 1.2%;
       
    }

    #learn {
       top:62%;
       padding: 4% 3.4%;
    }


    #titlebar {
    height: 15%;
   }

   #chatBox {
    height: 70%;
    width: 70%;
    position: absolute;
    left: 30%;
    bottom: 5%;
   }

   #chatInput {
    height: 5%;
   }

   h3 {
        font-size: 15px;
    }

    #sendChat {
        padding: 10px;
        margin: 12px;
    }

}


/*//////////////////////////////////
//////////   STANDARD TAGS /////////
//////////////////////////////////*/

body {
    font-size: 25px;
	font-family: 'Iceland';
	background-color: rgb(35,35,35);
	color: white;
	text-align: center;
}

h1 {
	font-size: 45px;
	margin: 30px;
	text-shadow: 0 1px 40px rgba(255,255,255,0.5);
    font-weight: bold;
}

h2 {
	font-size: 60px;
}

h3 {
    margin-bottom: -10px;
	font-size: 25px;
	font-weight: bold;
}

p {
    font-size: 10px;
    padding: 2px;
}

input {
	font-family: 'Iceland';
	font-size: 14px;
	color: black;
	background-color: #FFFFFF;
	border-radius: 5px;
	border: none;
    width: 70%;
    margin: 10px;
    padding: 10px;
}

input:focus {
	border: 2px solid green;
	outline: none;
	margin: 8px;
}





/*//////////////////////////////////
//////////   BUTTONS   /////////////
//////////////////////////////////*/

button {
	background: #2B2B2B;
	background: -moz-linear-gradient(0% 100% 90deg, #4D4D4D, #1A1A1A);
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#1F1F1F), to(#4D4D4D));
	border-top: 2px solid #171717;
	border-right: 2px solid #0D0D0D;
	border-bottom: 2px solid #080808;
	border-left: 2px solid #0D0D0D;
    border-radius: 10px 10px 10px 10px;
    box-shadow: inset 0 1px 0 0 #616161, 0 1px 2px 0 #b3b3b3;
	color: white;
	padding: 5%;
    margin: 10px;
    font-size: 25px;

}

button:focus {
	border: 2px solid green;
	outline: none;
	margin: 10px;
}


button:active {
	background: #1C1C1C;
    background: -moz-linear-gradient(0% 100% 90deg, #1C1C1C, #1A1A1A);
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#1A1A1A), to(#1C1C1C));
	border: 2px solid #080808;
	border-bottom: 1px solid #000000;
	text-shadow: 0 -1px 1px #023D04;
    box-shadow: none;
}

/* Portrait */
@media only screen and (orientation:portrait) {
   #menu {
   top: 12%;
   padding: 5% 5.8%;
    }

    #friends{
       top: 25%;
        padding: 5% 2.6%;
      
    }

    #learn {
       top: 38%;
       padding: 5% 5%;
    }

}







#joinGame {
    padding: 6% 12% 6% 12%;
     font-size: 20px;
}

#createGame {
    padding: 6% 6% 6% 6%;
     font-size: 20px;
}

#play {
    padding: 12% 12% 12% 12%;
    font-size: 25px;
    margin-top: 10%;
}

#sendChat {
    position: absolute;
    right: -4%;
    bottom: 1%;
    padding: 2px;
    font-size: 15px;
}

.slideButton {
   left:-1%;
   margin: 0px;
   border-radius: 0px 60px 60px 0px;
   z-index: 2;
   position: absolute;

   -webkit-transition: left  1s ease;
   -moz-transition: left  1s ease;
   -o-transition: left  1s ease;
   -ms-transition: left 1s ease;
   transition: left 1s ease;
}

.slideButton:focus {
   margin: 0px;
   border-left: none;
}


.clicked{
    left:69%
}

#scrollDownFriends {
    top: 25%;
    background: url(/images/downarrow.png) 50% 50% no-repeat;
}


#scrollUpFriends {
   top: 8%;
   background: url(/images/uparrow.png) 50% 50% no-repeat;
}

#scrollDownRequests{ 
    top: 44%;
    background: url(/images/downarrow.png) 50% 50% no-repeat;
}

#scrollUpRequests{
   top: 56%;
   background: url(/images/uparrow.png) 50% 50% no-repeat;
}



.scrollButton {
   right: 0px;
   z-index:100;
   padding: 10px;
   margin-bottom: -2px;
   position: absolute;
   display: block;
}

.tinyButton {
    position: relative;
    margin: 2px;
    padding: 10px;
    margin-right: 1px;
    top: -5px;
    z-index: 99;
}

.tinyButton:focus {
    margin: 2px;
    margin-right: 1px;
}

.removeFriend {
     background: url(/images/remove.png) 50% 50% no-repeat;
}

.acceptFriend {
    background: url(/images/accept.png) 50% 50% no-repeat;
}

.smallButton {
    font-size: 12px;
    padding: 4px;
    margin: 8px;
}

.smallButton:focus {
    margin: 8px;
}

.smallButton:active {
    margin-bottom: 9px;
}
#logoutButton {
    margin-top: 50%;
    
}

/*//////////////////////////////////
//////////   BOXES   /////////////
//////////////////////////////////*/

.box {
	border: 3px solid rgba(64,64,64,.5);
	border-radius: 10px 10px 10px 10px;
	background-color: rgb(30,30,30);
	box-shadow: 0 1px 50px rgba(255,255,255,0.5);
	margin: auto auto;
    width: 90%;
    height: 50%;
    margin-top: 17%;
}


.fieldBox{
	padding: 10px 10px;
	border: 3px solid rgba(44,44,44,.5);
	border-radius: 10px 10px 10px 10px;
	background-color: rgb(35,35,35);
	margin: 5px auto;
    height: 15%;
    width: 70%;
    display: block;
}

.slideBox{
    position: absolute;
    left:-73%;
    top: 9%;
	border: 5px solid rgba(44,44,44,.5);
    border-radius: 13px 13px 13px 13px;
	background-color: rgb(35,35,35);
	margin: 5px auto;
    height: 85%;
    width: 70%;
    display: inline-block;
    z-index: 2;

   transition: left  1s ease;
   -webkit-transition: left  1s ease;
   -moz-transition: left  1s ease;
   -o-transition: left  1s ease;
   -ms-transition: left 1s ease;
   
   overflow: scroll;

}

.slide{
    left:-1%;
}

#titlebar {
    background-color: rgb(25,25,25);
    margin: 0px;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 10%;
    z-index: 100;
}


#chatBox{
    height: 70%;
    width: 58%;
    position: absolute;
    left: 35%;
    bottom: 5%;
   
}

#chatArea {
    height: 50%;
    width: 65%;
    position: absolute;
    top:18%;
    left: 4%;
    background-color: rgb(0,0,0);
    overflow-y: scroll;
    overflow-x: hidden;
    text-align: left;
    font-size: 15px;
    overflow-y: scroll;
    -webkit-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
}

#chatInput {
    position: absolute;
    left:0%;
    bottom: 1%;
    width: 50%;
}

@media only screen and (orientation:portrait) {
    #sendChat {
        height: 13%;
        margin: 10px;
    }
}
#playerList {
    height: 48%;
    width: 25%;
    position: absolute;
    right: 1%;
    top: 18%;
    border: 3px solid rgba(64,64,64,.5);
	border-radius: 10px 10px 10px 10px;
	background-color: rgb(30,30,30);
    overflow-y: scroll;
    overflow-x: hidden;
    font-size: 10px;
}

#friendsList {
    text-align: center;
    overflow-x: hidden;
    height: 25%;
    position: relative;
    overflow-y: scroll;
}

#friendRequestsList {
    text-align: center;
    overflow-y: scroll;
    overflow-x: hidden;
     height: 20%;

}


#friendRequestInput {
   margin: 1px;
   margin-top: 5px;
}

.friendListing {
    border: 3px solid rgba(64,64,64,.5);
	border-radius: 10px 10px 10px 10px;
	background-color: rgb(30,30,30);
    width: 70%;
    padding: 4px;
    position: relative;
    margin-left: 10px;
    font-size: 9px;
    height: 22px;
    line-height: 22px;
    margin-bottom: -7px;
    
}


.topBar {
    background-color: rgb(25,25,25);
    margin-bottom: -1px;
    margin-top: -1px;
    padding-top:5px;
    padding-bottom:5px;
    width: 100%;
    height: 8%;
    border-radius: 10px 10px 0px 0px;
}

.innerBar {
    background-color: rgb(25,25,25);
    margin-bottom: -1px;
    margin-top: -1px;
    padding-top:5px;
    padding-bottom:5px;
    width: 100%;
    height: 8%;
    border-radius: 0px 0px 0px 0px;  
}

/*//////////////////////////////////
//////////  MISC        ///////////
//////////////////////////////////*/

.red {
    color: red;
}

.chatName {
    color: gray;
    display: inline;
}

.leftAlign {
    width: 100%;
    text-align: left;
    display: inline;
    position: absolute;
    left: 2px;  
}

.leftCenterAlign {
    width: 50%;
    text-align: center;
    display: inline;
    position: absolute;
    left: 2px;  
}

.rightAlign {
    width: 100%;
    text-align: right;
    position: absolute;
    right: 2px;
    margin-right: 2px;
    display: inline;
}



@media screen and (orientation:landscape) {

    
    h3 {
	font-size: 15px;
    }   
    h1 {
        font-size: 25px;

    }
    
    .scrollButton {
        right: 200%;
    }
   
}

.inverted {
  -webkit-perspective: 400px;
     -moz-perspective: 400px;
      -ms-perspective: 400px;
          perspective: 400px;
  -webkit-transform: rotate3d(1, 1, 0, 180deg);
     -moz-transform: rotate3d(1, 1, 0, 180deg);
      -ms-transform: rotate3d(1, 1, 0, 180deg);
          transform: rotate3d(1, 1, 0, 180deg);
  -webkit-transition: all 0.5s ease-in-out;
     -moz-transition: all 0.5s ease-in-out;
       -o-transition: all 0.5s ease-in-out;
          transition: all 0.5s ease-in-out;
}


#message {
    font-size: 20px;
}
